# Virtual environment
venv/
.env/
.venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log

# Environment settings
.env
*.env

# Compiled libraries
*.so
*.dll
*.dylib

# Packages
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/

# PyInstaller
*.manifest
*.spec

# mypy
.mypy_cache/

# Coverage
.coverage
htmlcov/
.tox/
.nox/

# Test results
.cache/
pytest_cache/
venv/
*.dll
*.pyd
venv/
